body{
	background-color: grey;
}
.carousel-inner img{
	height: 500px;
	width: 100%;
	color: blue
}
.resize img{ height: 150px;
			 width: 150px;
 }
 .bg{
 	background-color: black;
 	color: white;
 }
 .bg a{
 	color: lime;
 }